.carousel-title {
    color: var(--color-orange);
    background-color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background-color: var(--color-white);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-description{
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.buttons {
    display: flex;
    
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.description-title {
    color: var(--color-orange);
    font-weight: 700;
}

.description-title-book {
    color: var(--color-blue);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.description-text {
    font-size: 14px;
}

.description-img {
    margin: 0.5em;
}

.buttons-item{
    margin: 0 0.5em;
}

.button-anchor {
    background: var(--color-orange);
    text-decoration: none;
    color: var(--color-white);
    padding: 1em;
    border-radius: 10px;
    font-weight: 700;
}

.button-anchor:hover {
    background: var(--color-orange-hover);
}

@media screen and (min-width:1024px) {
    .carousel-title{
        font-size: 26px;
        padding: 2em;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-next, .swiper-button-prev{
        display: block;
        top: 60%;
    }

    .card{
        width: 40%;
        margin: 2em auto;
    }


}

@media screen and (min-width:1728px) { 
    .carousel-container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .description-title{
        font-size: 32px;
    }

    .description-text{
        font-size: 16px;
    }

    .card {
        width: 60%;
        margin-left: 3em;
    }

    .card-description{
        margin-right: 2em ;
    }
}